@import 'function/function';

// Variable
$theme-color : #422680;
$theme-color2: #660f56;
$theme-color3: #f54952;

:root {
  /* rgb somente para controlar opacidade */
  --theme-color : #{convert-rgb($theme-color)};
  --theme-color2: #{convert-rgb($theme-color2)};
  --theme-color3: #{convert-rgb($theme-color3)};
}